form {
  max-width: 500px;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

mat-form-field {
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input[type="file"] {
  cursor: pointer;
  border: 1px solid #ccc;
}

label {
  font-size: small;
  display: block;
}

button {
  margin: 10px 0;
}

.ng-dirty.ng-invalid,
.ng-touched.ng-invalid {
  border-color: red;
  border-width: 1px;
}

.error {
  font-size: x-small;
  color: red;
}

.preview, .main {
  display: inline-block;
  vertical-align: top;
}

.preview {
  width: 300px;
  margin: 20px auto;
}

.main {
  width: calc(100% - 340px);
}

.button-container {
  display: flex;
  gap: 10px;  
}

.mat-success {
  background-color: #0C4C9F !important;
  color: #fff !important;
}

.button-container.left, .button-container.right {
  display: inline-block;
  width: 50%;
}

.button-container.right {
  text-align: right;
}